[submodule "Bundles/Python.tmbundle"]
	path = Bundles/Python.tmbundle
	url = http://github.com/welinder/python.tmbundle.git
[submodule "Bundles/Matlab.tmbundle"]
	path = Bundles/Matlab.tmbundle
	url = http://github.com/textmate/matlab.tmbundle.git
[submodule "Bundles/lisp.tmbundle"]
	path = Bundles/lisp.tmbundle
	url = http://github.com/textmate/lisp.tmbundle.git
